$white: #FFF;
$black: #000;

$off-black: #111111;
$off-white: #f7f7f7;

$dark-grey: #333;


$soft-coral: #FF9A8B;

$light-peach: #FFBC9A;

$soft-pink: #FFCCE5;
$soft-pink-hover: #fcaed4;

$charcoal: #333333;

$light-grey: #DCDCDC;
$light-grey-hover: #c9c8c8;